# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
*/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode
.idea
backend/project/bin/com/java/project/configuration/AppConfig.class
backend/project/bin/com/java/project/configuration/AppCorsConfiguration.class
backend/project/bin/com/java/project/controller/CompanyController.class
backend/project/bin/com/java/project/controller/EmailController.class
backend/project/bin/com/java/project/controller/FormController.class
backend/project/bin/com/java/project/controller/QuestionController.class
backend/project/bin/com/java/project/controller/UserController.class
backend/project/bin/com/java/project/controller/VendorController.class
backend/project/bin/com/java/project/controller/VendorWorkflowController.class
backend/project/bin/com/java/project/controller/WorkflowController.class
backend/project/bin/com/java/project/model/Admin.class
backend/project/bin/com/java/project/model/Approver.class
backend/project/bin/com/java/project/model/Company.class
backend/project/bin/com/java/project/model/Email.class
backend/project/bin/com/java/project/model/Form.class
backend/project/bin/com/java/project/model/IDCounter.class
backend/project/bin/com/java/project/model/Question.class
backend/project/bin/com/java/project/model/SuperAdmin.class
backend/project/bin/com/java/project/model/User.class
backend/project/bin/com/java/project/model/Vendor.class
backend/project/bin/com/java/project/model/VendorWorkflow.class
backend/project/bin/com/java/project/model/VendorWorkflowMappingDTO.class
backend/project/bin/com/java/project/model/VendorWorkflowUpdateMappingDTO.class
backend/project/bin/com/java/project/model/Workflow.class
backend/project/bin/com/java/project/model/WorkflowMappingDTO.class
backend/project/bin/com/java/project/model/WorkflowUpdateMappingDTO.class
backend/project/bin/com/java/project/ProjectApplication.class
backend/project/bin/com/java/project/repository/CompanyRepository.class
backend/project/bin/com/java/project/repository/EmailRepository.class
backend/project/bin/com/java/project/repository/FormRepository.class
backend/project/bin/com/java/project/repository/IDCountersRepository.class
backend/project/bin/com/java/project/repository/QuestionRepository.class
backend/project/bin/com/java/project/repository/simpleCreateRepo.class
backend/project/bin/com/java/project/repository/UserRepository.class
backend/project/bin/com/java/project/repository/VendorRepository.class
backend/project/bin/com/java/project/repository/VendorWorkflowRepository.class
backend/project/bin/com/java/project/repository/WorkflowRepository.class
backend/project/bin/com/java/project/scheduler/ScheduleEmail.class
backend/project/bin/com/java/project/service/EmailSenderService.class
backend/project/bin/com/java/project/service/SequenceGeneratorService.class
backend/project/bin/com/java/project/service/UserService.class
backend/project/bin/finalisedProject.jar
backend/project/bin/com/java/project/ProjectApplication.class
backend/project/bin/com/java/project/ProjectApplication.class
backend/project/bin/com/java/project/ProjectApplication.class
